.collapse-navigation li{
float:left;
color:#fff;
font-size: 18px;
line-height: 20px;
list-style-type:none;
margin:0px 10px 0px 10px;
}

.collapse-navigation li a{

text-decoration:none;
color:#fff;
display: block;
padding:15px;

}

.collapse-navigation li a:hover, .active-link, a.navbar-brand:hover{
background-color:#f00;
color:#fff !important;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover{background-color:#f00;
color:#fff !important;}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{margin-left:0px;}

.pullRight{float:right; margin:0px;}
.pullLeft{margin: 0px;}

.collapse-navigation .pullRight li{margin:0px;}
.navbar-collapse{padding-left:0px; padding-right:0px;}


@media all and (max-width: 767px){
  .collapse-navigation li{float:none;border-bottom:1px solid #fff;}
  .collapse-navigation .pullLeft{margin: 0px;padding:0px;}
  .collapse-navigation .pullRight{float:none; margin:0px;padding:0px;}
  .collapse-navigation .pullRight li{margin:0px 10px 0px 10px; border-bottom:0px;}
}